@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
.Board {
    background-color: aquamarine;
    margin-left: 6vw;
    margin-right: 6vw;
}
.Title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Cinzel", serif;
}
.Options {
    margin: 1vh;
    margin-bottom: 1vh;
}
.GuessButton {
    background-color: teal;
    border-radius: 10px;
    padding: 6px;
    color: whitesmoke;
}
.NewGame {
    background-color: teal;
    border-radius: 10px;
    padding: 6px;
    color: whitesmoke;
    margin-top: 2vh;
}
.Instructions-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
